@charset "UTF-8";

/* --------------------
      foundation
-------------------- */
// variable
@use './foundation/variable/color' as *;
@use './foundation/variable/font' as *;
@use './foundation/variable/size' as *;
// animation
@use './foundation/animation/rotate' as *;
// function
@use './foundation/function/half' as *;
@use './foundation/function/rem' as *;
@use './foundation/function/vw' as *;
// mixin
@use './foundation/mixin/media-query-with-tab' as *;
// @use './foundation/mixin/media-query' as *;
@use './foundation/mixin/browsers' as *;

/* --------------------
      base
-------------------- */
@use './base/reset' as *;
@use './base/base' as *;

.wrapper {
  position: relative;
  height: 100vh;
  width: 100vw;
}

#canvas {
  position: absolute;
  height: 100%;
  width: 100%;
}
